@charset "utf-8";
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.navbar {
	position: fixed;
	background-color: #001333;
	margin-left: 15vw;
	margin-right: 10vw;
	padding-top: -20px;
	
}

.topbar {
	background-color: #001333;
	width: 300px;
	color: white;
	float: left;
	
}

.topbar:hover {
	background-color: #d0ddf2;
	color: black;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	
	text-align: center;
	font-weight: 100;
}



.cityandlogo {
	background-color: rgba(237,237,237,1.00);
	width: 259px;
	border-radius: 50%;
	height: 259px;
	display: inline-block;
	float: left;
	clear: both;
	margin-left: 15vw;
	margin-top: 200px;
	-webkit-filter: brightness(100%);
}

#main {
	font-weight: 400;
	background-color: #d0ddf2;
	color: black;
}

	

.ordernow {
	margin-left: 100%;
	position: fixed;
	background-color: black;	
}

.getready {
	margin-top: 150px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	color: #001333;
}

h3 {
	font-family: 'Montserrat', sans-serif;

	text-align: center;
	font-weight: 100;
}

.description {
	font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
	float: right;
}

.sec1 {
	margin-top: 800px;
	background-image: url(smooth.jpg);
     background-repeat: no-repeat;
}

body {
	background: #ffffff url("../images/smooth.jpg") no-repeat right top;
}

sub {
	font-size: 10px;
	font-weight: 100;
}

.adminbutton {
	visibility: hidden;
}

#main:hover {
	/* background-color: #001333; 
	color: white;*/
}

.cityandlogo:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.cityandlogo>.orderover { display: none; }
.cityandlogo:hover>.orderover { display: block; }


.orderover {
	position: fixed;
	top: 90px;
	left: 80px;
	width: 100px;
}

.resp-container {
    padding-top: 56.25%;
}
.resp-iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	border: 0;
	
}