@charset "utf-8";
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.navbar {
  display: inline-block;
  padding-top: -20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.topbar {
  background-color: #001333;
  width: 300px;
  color: white;
  float: left;
}

.topbar:hover {
  background-color: #d0ddf2;
  color: black;
}

h1 {
  font-family: "Montserrat", sans-serif;

  text-align: center;
  font-weight: 100;
}


#main {
  font-weight: 400;
  background-color: #d0ddf2;
  color: black;
}

.ordernow {
  margin-left: 100%;
  position: fixed;
  background-color: black;
}

.getready {
  margin-top: 50px;
  float: none;
  width: 30vw;
  display: inline-table;
  color: #001333;
}

h3 {
  font-family: "Montserrat", sans-serif;

  text-align: center;
  font-weight: 100;
}

.description {
  font-family: "Montserrat", sans-serif;
}

.navbar-nav {
  float: right;
}

.sec1 {
  margin-top: 800px;
  background-image: url(smooth.jpg);
  background-repeat: no-repeat;
}

body {
  background: #ffffff url("images/smooth.jpg") no-repeat right top;
}

sub {
  font-size: 10px;
  font-weight: 100;
}

.adminbutton {
  visibility: hidden;
}



/*.cityandlogo:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}*/

/*.cityandlogo>.orderover { display: none; }*/
.cityandlogo:hover > .orderover {
  display: block;
}

.orderover {
  position: fixed;
  top: 60px;
  left: 80px;
  width: 100px;
}

.hic {
  line-height: 10px;
  margin-bottom: -10px;
  font-weight: bold;
}

.round {
  width: 259px;
}

.cta {
  line-height: 250px;
  font-weight: bold;
}

.cta:hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.cleaffix:after {
  clear: both;
}

.left {
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-block;
  width: 300px;
  height: 300px;
  color: white;
}

.trans {
  -webkit-transition: background 1s, border-radius 1s;
  transition: background 1s, border-radius 1s;
}

.container div {
  min-width: 256px;
  min-height: 256px;
  background: #001333;
  border-radius: 128px;
}

.container {
  max-width: 512px;
}

.clover:nth-child(1) {
  border-bottom-right-radius: 0px;
}

.circle:hover,
.clover:hover {
  background: #d0ddf2;
  color: black;
}

.circle:hover {
  border-radius: 0px;
}

.clover:hover:nth-child(1) {
  border-bottom-right-radius: 128px;
  border-top-left-radius: 0px;
}

#login {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#signup {
  border-top-right-radius: 20px;
}

.orderstyle {
  float: left;
  position: fixed;
  width: 300px;
  height: 300px;
  color: white;
  top: 200px;
  padding-left: 200px;
  left: 200px;
}

.makeitmiddle {
  text-align: center;
}
